/*Registro.css*/
body { 
        font-family: Arial, sans-serif;
        margin: 0; padding: 0; 
        background-color: #f4f4f4; 
}
header {
        background-color: #000000;
        color: white;
        padding: 15px;
        text-align: center;
}
.seguridad{
         background-color: #FFFFFF; 
}

nav {
        background-color: #333;
        color: white;
        padding: 10px; 
}
nav a {
        color: white;
        margin: 0 15px;
        text-decoration: none;
}
main {
        padding: 20px;
        
}
form {
        background-color: white;
        padding: 20px;
        border: 1px solid #ddd;
        max-width: 400px;
        margin: 0 auto;
}
label:not(#tmn) {
        display: inline;
        margin-bottom: 5px;
}
input {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
}
button {
        display: inline-block;
        background-color: #000000; 
        color: white; 
        padding: 10px 20px;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
}
.impor:hover {
    background-color: #0056b3;
}
.impor:hover {
    background-color: #FF0000;
}
footer {
        background-color: #333;
                color: white;
        text-align: center;
        padding: 10px;
}
